name: deploy

on:
  push:
    branches:
      - main

jobs:
  check-lint:
    name: Check lint
    runs-on: self-hosted
    steps:
      - name: Clean Docker
        run: docker system prune -a -f
      - name: Check lint
        run: |
          cd /root/project/money-save-api
          git fetch origin -p
          git merge origin/main 
          npx yarn install 
          npx yarn lint
      - name: Deploy
        run: |
          cd /root/project/money-save-api 
          git fetch origin -p 
          git merge origin/main 
          npx yarn install 
          npx yarn docker:deploy
